
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

<p>
    Here's the Test view.  The nice thing about Default routing is that if your app isn't 
    going to be terribly complicated, you probably don't need any custom routes.
</p>
<p>Check out the @Html.ActionLink("Sample page", "Sample", new {id = 4}) for more examples of the default route.</p>