@{
    ViewData["Title"] = "Home Page";
}

<h2>ASP.NET Core Demystified - Routing Sample Project</h2>

<p>
    Routing is not all that complicated in ASP.NET Core, but it is powerful.  In this sample project,
    you will find samples of the default, convention-based, and attribute-based routing structures
    supported by ASP.NET Core
</p>